/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

/* Asterink wildcard selector overides default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

/* Header */
header {
    background-color: black;
    padding: 0 2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 4px lightslategrey;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: white;
}

#menu {
    font-size: 115%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.8em;
}

.active {
    border-bottom: 1px solid white;
}

/* navbar styled with dropdown toggle menu */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px lightslategray;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content */
main {
    /*main element takes up space and pushes footer down*/
    flex: 1 0 auto;
    margin-top: 78px;
    background-color: lightgray;
}

/* hero image */
#hero {
    height: 100vh;
    width: 100%;
    background: url(../images/ezgif.com-jpg-to-webp-converter_50.webp) no-repeat center center/cover;
    background-size: cover;
    position: relative;
}

#cover-text {
    /* rgba value makes it semi transparent*/
    background-color: rgba(196, 142, 111, 0.5);
    font-size: 120;
    position: absolute;
    bottom: 100px;
    width: 75%;
    min-height: 180px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: black;
}

/* Reasons section */
#reasons {
    width: 95%;
    margin: 20px auto;
    background-color: black;
    color: white;
    padding: 20px;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

#pros-physical,
#pros-mental {
    line-height: 1.5;
    margin-bottom: 20px;
}

#pros p {
    padding: 0 10px;
    color: white;
}

#pros hr {
    border-top: 1px solid #3a3a3a;
    margin: 10px 0;
}

/* about us */
#about-us p {
    color: black;
}

/*background image*/
#about-us {
    background: url("../images/pexels-cottonbro-studio-4325439_2_953x1429.webp") no-repeat center center/cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*cover-text-2*/
#cover-text-2 {
    background-color: rgba(196, 142, 111, 0.7);
    padding: 20px;
    text-align: center;
    max-width: 80%;
}

#cover-text-2 h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: black;
}

#cover-text-2 p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: black;
}

#cover-text-2 ul {
    list-style-type: none;
    padding: 0;
}

#cover-text-2 .class-info {
    margin-bottom: 30px;
}

#cover-text-2 .class-info h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: black;
}

#cover-text-2 .class-info p {
    font-size: 1rem;
    color: black;
}

/* contact us */
#contact-us {
    background-image: url("../images/pexels-cliff-booth-4057529_50.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


#contact-form {
    color: black;
    background-color: rgba(196, 142, 111, 0.75);
    padding: 30px;
}


#contact-form>h2 {
    color: black;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: white;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: black;
    color: white;
}

/* footer */
footer {
    background-color: black;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

/* Media query for large or landscaped phones (576px and up)*/
@media screen and (min-width: 576px) {
    main {
        margin-top: 55px;
    }
    header {  
        padding: 0 2rem 1rem ;
    }
    
    #hero {
        margin-top: -78px;
    }

    #contact {
        margin-top: 55px;   
    }

}

/* Media query for tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {

    /* Main content */
    main {
        margin-top: 39px;
    }

    /* hero image */
    #cover-text {
        width: 400px;
        right: 150px;
        padding-left: 60px;
        font-size: 150%;
    }

    /* about us */
    #cover-text-2 {
        margin-top: 180px;
    }

    /* nav */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Footer */
    #social-networks {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        color: #3a3a3a;
    }

    /* Media query for Laptops and desktops (992px and larger) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid white;
        }
    }

    /* about us */
    #cover-text-2 {
        top: 25%;
        margin-bottom: 530px;
    }

    /* contact us*/
    #contact {
        margin-top: 52px;
        margin-bottom: 69px;
    }
}

/* Media query for adjusting the contact form on smaller screens (max-width: 767px) */
@media screen and (max-width: 767px) {

    #contact-form {
        padding: 15px;
    }

    .text-input {
        height: 35px;
    }

    .radio-buttons {
        flex-direction: column;
    }

    .join-button {
        font-size: 90%;
        padding: 10px 20px;
    }
}