/* Asterink wildcard selector overides default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: black;
}

/* Header */
header {
    background-color: lightgreen;
}

/* main content */
main {
    background-color: lightblue;
    /*main element takes up space and psushes footer down*/
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: lightpink;
}